[submodule "bootswatch."]
	path = bootswatch.
	url = https://github.com/thomaspark/bootswatch.git
[submodule "bootswatch"]
	path = bootswatch
	url = https://github.com/thomaspark/bootswatch.git
	branch = gh-pages
