<%# The application 'entry point' view, i.e. the landing page %>
<div class="container" id="main-container">
  <div ui-view>
    <%# Placeholder for Angular templates %>
  </div>
  <ul>
    <li><a href="posts/new" translate="Submit a Report"></a></li>
    <li><a href="posts" translate="View Reports"></a></li>
    <li><a href="users" translate="View Reporter Punctuality"></a></li>
  </ul>
</div>
