<div ng-init="actionIndex()">
    <h2 translate="Punctuality"></h2>
    <div class="list-group">
      <a href="#" class="list-group-item" ng-repeat="user in users" ng-click="formatDates(user); showTable = !showTable">
        <h4 class="list-group-item-heading">{{user.role}} {{user.name}}</h4>
        <p class="list-group-item-text">Click to view punctuality</p>
        <table class="table table-striped table-hover " ng-show="showTable">
            <thead>
                <tr>
                    <th>Reports</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in user.due_dates" ng-class="getColor(report)">
                    <th>{{ report.deadline }}</th>
                </tr>
            </tbody>
        </table>
      </a>
    </div>
</div>
