<div class="row" ng-init="actionEdit()">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>
      <span translate="User"></span> #{{user.id}} -
      <span translate="Edit"></span>
    </h2>

    <form name="admin_edit_user_form" role="form" novalidate fb-errors="userErrors" confirm-dirty-form>

      <div class="form-inputs">


        <fb-field type="text" ng-model="user.name">

        </fb-field>

        <fb-field type="password" hint="Minimum 8 characters" required="false" ng-model="user.password"></fb-field>

        <fb-field type="email" ng-model="user.email"></fb-field>

        <fb-field type="number" ng-model="user.stipend"></fb-field>

        <fb-field ng-model="user.roles">
          <selectize name="roles" ng-model="user.roles" options="userRoleSelectizeOptions"></selectize>
        </fb-field>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="actionUpdate()" translate="Update User"></button>
      </div>
    </form>
  </div>
</div>
